* {
  margin: 0;
  padding: 0; }

/*las variasbles se importan arriba del toro*/
#index h6 {
  background-color: red; }

#index p {
  background-color: aqua; }

nav ul {
  display: flex; }
  nav ul li {
    list-style: none;
    padding: 1rem; }
    nav ul li:hover {
      background-color: brown; }

@media (min-width: 850px) {
  nav ul {
    flex-direction: column; } }

main h1 {
  color: white;
  background-color: black; }

main .primeraSeccion {
  padding: 1rem; }
  main .primeraSeccion p {
    text-align: center; }
