*{
    margin: 0;
    padding: 0;
}
/*las variasbles se importan arriba del toro*/

@import "secciones/index";
@import "secciones/header";
@import "./secciones/contacto";
@import "./variables/colores.scss";


main{
    h1{
        color: white;
        background-color: black;
    }
    .primeraSeccion{
        padding: 1rem;
        p{
            text-align: center;
        }
    }
}